* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.productrealate .container .productrealate-inner {
  text-align: center;
}
.productrealate .container #tableRender {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 auto;
}
.productrealate .container #tableRender .frame {
  background: #F8F8F8;
  width: 334px;
  height: 369px;
  margin: 0 -15px;
}
.productrealate .container #tableRender .frame .frame-item {
  padding: 15px;
  margin: 0 15px;
}
.productrealate .container #tableRender .frame .frame-item .frame-item-top {
  text-align: center;
}
.productrealate .container #tableRender .frame .frame-item .frame-item-top img {
  width: 220px;
  height: 156px;
}
.productrealate .container #tableRender .frame .frame-item .frame-item-bottom {
  display: flex;
  justify-content: flex-start;
}
.productrealate .container #tableRender .frame .frame-item .btbuy {
  background: #e1b067;
  width: 175px;
  height: 64px;
}
.productrealate .container #tableRender .frame .frame-item .btprice {
  background: #dedddc;
  width: 160px;
  height: 64px;
}