// @import '../base/base';
@import '../themes/variables';

.header{
    box-sizing: border-box;
    .container{
        position: relative;
        border: $c1-border;
        display: flex;
        background-color: $c1-bg-dark;
        justify-content: space-between;
        align-items: center;
        .logo{
            img{
                position: absolute;
                width: 116px;
                top: 10px;
                left: 24px;
            }
        }
        .register{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 40px;
            img{
                width: 31px;
            }
            span{
                font-size: $fs-4;
                font-weight: $fw-2;
                color: $c1-text-white;
            }
            a{
                text-decoration: none;
                font-size: $fs-1;
                font-weight: $fw-2;
                color: $c1-text-whiteSmoke;
                border: $c1-border;
                text-shadow: $c1-text-shadow;
                display: inline-block;
                padding: 0 20px 0 10px;
            }
        }
    }
}

.menu{
    box-sizing: border-box;
    .container{
        .navbar{
            justify-content: flex-start;
            margin-left: 30px;
            a{
                text-decoration: none;
                font-size: $fs-2;
                font-weight: $fw-2;
                color: $c1-text-dark;
                display: inline-block;
                position: relative;
                margin-right: 60px;
                &::after{
                    content: "";
                    position: absolute;
                    top: 40px;
                    left: 0;
                    width: 100%;
                    background-color: $c2-bg-dark;
                    border: $c1-border;
                    display: none;
                }
            }
            
        }
    }
}